CREATE TABLE submissions (id SERIAL PRIMARY KEY, nomor_referensi TEXT, nama_usaha TEXT, nama_pt TEXT, jenis_usaha TEXT, alamat TEXT, kota_provinsi TEXT, google_maps_link TEXT, telepon TEXT, email_usaha TEXT, instagram TEXT, kapasitas INTEGER, jam_operasional TEXT, tahun_berdiri INTEGER, tukar_faktur TEXT, nama_pemilik TEXT, nik TEXT, tempat_lahir TEXT, tgl_lahir TEXT, hp_pemilik TEXT, email_pemilik TEXT, estimasi_order TEXT, metode_bayar TEXT, referensi_distributor TEXT, url_ktp_pemilik TEXT, url_npwp TEXT, url_siupmb TEXT, url_nib TEXT, url_foto_depan TEXT, url_foto_interior TEXT, url_ktp_pj TEXT, url_skdu TEXT, url_ho TEXT, url_foto_wide TEXT, url_foto_dapur TEXT, skor_total INTEGER, skor_dokumen_izin INTEGER, skor_foto_lokasi INTEGER, skor_usia_usaha INTEGER, skor_referensi INTEGER, skor_data_digital INTEGER, skor_kapasitas INTEGER, skor_dok_opsional INTEGER, status_otomatis TEXT, hard_rule_fail BOOLEAN, hard_rule_detail JSONB, submitted_at TIMESTAMP WITH TIME ZONE);
ALTER TABLE submissions DISABLE ROW LEVEL SECURITY;
